html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.svgs {
    position: fixed;
}
.page {
    width: 100%;
    height: 100vh;
    position: relative;
}
